In [3]:
def function_name():
    print("Hello")

In [4]:
function_name()

Hello

In [5]:
def function_name1(name='Manjiri'):   #a Default name is given if no parameter is passed in the argument
    print(f'Hello {name}')

In [6]:
function_name1('Shubham')

Hello Shubham

In [7]:
function_name1()

Hello Manjiri

In [8]:
def function_name1(name):
      return 'Hello '+name

In [9]:
result= function_name1('Shubham')

In [10]:
result

'Hello Shubham'

In [11]:
def sum_function(num1=0,num2=0):
    return num1 + num2

In [12]:
sum_total = sum_function()

In [13]:
sum_total

0

In [14]:
sum_total1 = sum_function(1345,8790)

In [15]:
sum_total1

10135

In [1]:
def mul_fun(n1=1,n2=1,n3=1):
    return n1*n2*n3

In [2]:
multiple = mul_fun(3,4,8)

In [3]:
multiple

96

# logic with python function

In [19]:
def even_check(num):
    result= num %2==0
    return result

In [20]:
even_check(29)

False

In [21]:
even_check(30)

True

the above can can be simplified to:

In [22]:
def even_check(num):
    return num %2==0

In [23]:
even_check(20)

True

Checking for any even number in a list

In [24]:
def even_check_list(number):
    for i in number:
        if i%2==0:
            return True
        else:
            pass

In [25]:
even_check_list([1,2,4])

True

In [26]:
even_check_list([1,5,7])

In [27]:
def even_check_list(number):
    for i in number:
        if i%2==0:
            return True
        else:
            return False #WRONGGGGGG!!!!!!

In [28]:
even_check_list([1,2,5]) #The function breaks where it find first odd number here even though the even number is present

False

Correction:

In [29]:
def even_check_list(number):
    for i in number:
        if i%2==0:
            return True
        else:
            pass
    return False

In [30]:
even_check_list([1,3,4])

True

In [31]:
even_check_list([1,5,7])

False

Function to return all even number in a list:

In [32]:
def even_check_number(number):
    even_number_list=[] #placeholder
    
    for i in number:
        if i % 2==0:
            even_number_list.append(i)
        else:
            pass
    return even_number_list

In [33]:
even_check_number([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [34]:
even_check_number([1,3,5,7])

[]

# Tuples unpacking using function

Program to find the employee with maximum number of work hours in a month

In [35]:
work_emp_hours = [('Shubham',120),('Manya',200),('Roshan',18),('Kushal',130)]

In [36]:
def work(work_list):
    
    employee=''  #empty string placeholder
    work_hour=0  #placeholder
    
    for emp,hour in work_list:
        
        if hour > work_hour:
            work_hour=hour
            employee=emp
        
        else:
            pass
    return (employee,work_hour) #Returning the o/p as tuple

In [37]:
work(work_emp_hours)

('Manya', 200)

In [38]:
result = work(work_emp_hours)

In [39]:
result

('Manya', 200)

In [40]:
name,hour = work(work_emp_hours)

In [41]:
name

'Manya'

In [42]:
hour

200

# Interaction B/W Functions

# THREE CUP MONTE GAME:

Creating our own shuffle function which returns shuffled list

In [43]:
from random import shuffle

In [44]:
example=[1,2,3,4,5,6,7,8]

In [45]:
shuffle(example) #doesnt return anything

Alternative:

In [46]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [47]:
shuffle_list(example)

[7, 8, 2, 1, 6, 4, 5, 3]

In [48]:
def user_guess():
    
    guess=''
    while guess not in['0','1','2']:
        
        guess= input('Pick a position: 0,1 or 2 : ') 
    return int(guess)

In [ ]:
user_guess()

In [ ]:
def check_guess(mylist,guess):
    if mylist[guess]=='O':
        print('Correct Guess!!')
    else:
        print('Your guess was wrong')
        print(mylist)

THREE CUP MONTE GAME:

In [ ]:
#Intialising Mylist

mylist=['','O','']

#Shuffling mylist

mixedUp_List= shuffle_list(mylist)


#Player guess


guessed_answer= user_guess()


#check guess
check_guess(mixedUp_List,guessed_answer)

#  'args' and 'kwargs'

# *args

In a function to add numbers, when generally have to define the position of arguments. The number of arguments defines
how many number has to be added. For example:

In [4]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))

In [6]:
myfunc(20,30)

50

In [7]:
myfunc(40,30,90)

160

In [8]:
myfunc(20,70,10,11,123)

234

In [9]:
 myfunc(20,70,10,11,123,48)  #Here the number of arguments is more than the defined position arguments,hence it throws error

TypeError: myfunc() takes from 0 to 5 positional arguments but 6 were given

Alternatively *args can be used to solve these issue. We have can as many number of argumments we want

In [11]:
def myfunc(*args):
    return sum(args)

In [12]:
myfunc(29,12)

41

In [13]:
myfunc(38,66,22,33,11,89,22,12,100)

393

*args can be replaced by any name such as *shubham or *kutta or *kamina

In [14]:
def myfunc(*kamina):
    return max(kamina)

In [15]:
myfunc(29,57,98)

98

In [20]:
def myfunc(*love):
    for i in love:
        print(i)

In [21]:
myfunc(1,3,5,6,6,7,8)

1
3
5
6
6
7
8

# **kwargs

Like *args returns a tuple, ***kwargs returns a dictionary

In [38]:
def myfunc(**kwargs):
    print(kwargs)

In [39]:
myfunc(fruit='apple', veggie='lettuce') # It returns a dictionary with key value pair

{'fruit': 'apple', 'veggie': 'lettuce'}

In [6]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I didnt find any fruit here')

In [33]:
myfunc(fruit='apple', veggie='lettuce')

My fruit of choice is apple

In [34]:
myfunc(veggie='lettuce')

I didnt find any fruit here

In [46]:
def merafunc(**kamina):
    if 'k1' in kamina:
        print('I dont like {}'.format(kamina['k1']))
    elif 'k2' in kamina:
        print('I dont like {}'.format(kamina['k2']))
    else:
        print('I dont like {}'.format(kamina['k3']))

In [47]:
merafunc(k1='harami',k4='kutta')

I dont like harami

In [48]:
merafunc(k4='harami',k2='kutta')

I dont like kutta

In [49]:
merafunc(k3='chomu',k9='kutta')

I dont like chomu

We can use *args and **kwargs in a same function

In [50]:
def myfunc(*args,**kwargs):
    print('I would like {} {} {}'.format(args[0],kwargs['k1'],kwargs['k2']))

In [51]:
myfunc('a','you','be',k1='Kutta',k2='billi',k3='rat')

I would like a Kutta billi

In [53]:
def myfunc(*args,**kwargs):
    print('I would like {} {} {}'.format(args[2],kwargs['k2'],kwargs['k3']))

In [54]:
myfunc('a','you','be',k1='Kutta',k2='billi',k3='rat')

I would like be billi rat

In [57]:
myfunc(k1='Kutta',k2='billi',k3='rat','a','b') #You cannot change the position of args and kwargs in a function

SyntaxError: positional argument follows keyword argument (<ipython-input-57-1ba223e3f0f3>, line 1)

# EXAMPLE: A function which takes a string and  returns the even letter as upper and odd letter as lower case

In [64]:
def myfunc(st):
    res=[]
    for i in range(len(st)):
        if i%2==0:
            res.append(st[i].upper())
        else:
            res.append(st[i].lower())
    return ''.join(res)

In [63]:
myfunc('Kumar Shubham')

'KuMaR ShUbHaM'