In [1]:
import datetime

In [3]:
now=datetime.time(11,10,18,23)

In [4]:
print(now)

11:10:18.000023

In [5]:
now.hour

11

In [6]:
now.minute

10

In [7]:
now.second

18

In [8]:
now.microsecond

23

In [17]:
aaj=datetime.date.today()

In [18]:
print(aaj)

2021-01-05

In [19]:
aaj.day

5

In [20]:
aaj.month

1

In [21]:
aaj.year

2021

In [23]:
aaj.ctime()

'Tue Jan  5 00:00:00 2021'

In [24]:
today = datetime.date.today()
print(today)
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

2021-01-05
ctime: Tue Jan  5 00:00:00 2021
tuple: time.struct_time(tm_year=2021, tm_mon=1, tm_mday=5, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=5, tm_isdst=-1)
ordinal: 737795
Year : 2021
Month: 1
Day  : 5

In [25]:
t = datetime.time(4, 20, 1)

# Let's show the different components
print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

04:20:01
hour  : 4
minute: 20
second: 1
microsecond: 0
tzinfo: None

In [26]:
print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

In [27]:
from datetime import datetime

In [28]:
mydate= datetime(2021,12,10,22,10,1)

In [29]:
print(mydate)

2021-12-10 22:10:01

In [33]:
myUpdatedDate=mydate.replace(year=2022) #.replace() is used to replace a particular field in date or time

In [34]:
print(myUpdatedDate)

2022-12-10 22:10:01

In [35]:
#Arithmetic operation on date and time

In [36]:
from datetime import date

In [37]:
date1= date(2022,12,1)
date2= date(2021,12,1)

In [38]:
result=date1-date2

In [39]:
print(result)

365 days, 0:00:00

In [40]:
result.days

365

In [43]:
result.total_seconds()

31536000.0

In [46]:
newdate1=datetime(2022,12,11,22,10,12)
newdate2=datetime(2020,10,1,22,10,12)

In [47]:
resultnew= newdate1-newdate2

In [48]:
print(resultnew)

801 days, 0:00:00

In [49]:
resultnew.days

801

In [54]:
resultnew.total_seconds()

69206400.0