# FOR LOOP

In [ ]:
my_list=[1,2,3,4,5,6,7,8,9,10]

In [5]:
for i in my_list:  #For Loop syntax to iterate through a list
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
for i in my_list:
    if i%2==0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [9]:
# Printing even number in the list
for i in my_list:
    if i%2==0:
        print(i)

2
4
6
8
10

In [13]:
#Sum of every number in the list

total=0

for i in my_list:
    total=total+i
    
print(f'Sum of the number is : {total}')

Sum of the number is : 55

In [14]:
#For Loop syntax to iterate through a list

my_string ='Kutta Kamina'

In [15]:
for i in my_string:
    print(i)

K
u
t
t
a

K
a
m
i
n
a

In [17]:
#For Loop syntax to iterate through a tuple
tup=(1,2,3,4)
for i in tup:
    print(i)

1
2
3
4

In [20]:

my_new_list = [(1,3),(7,4),(8,5)]
for i in my_new_list:
    print(i)

(1, 3)
(7, 4)
(8, 5)

In [22]:
##Tuple unpacking(very useful concept for methods or function)
for a,b in my_new_list:
    print(a)
    print(b)

1
3
7
4
8
5

In [23]:
for a,b in my_new_list:
    print(a)

1
7
8

In [24]:
for a,b in my_new_list:
    print(b)

3
4
5

In [25]:
#For Loop syntax to iterate through a dictionary
d={'k1':1,'k2':2,'k3':3}

In [26]:
for i in d:
    print(i)

k1
k2
k3

In [27]:
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [28]:
for a,b in d.items():
    print(b)

1
2
3

# WHILE LOOP

In [31]:
x=0

while x<6:
    print(f'The current value of x is : {x}')
    x=x+1 #we can also write x += 1
else:
    print('x is not less than 6')

The current value of x is : 0
The current value of x is : 1
The current value of x is : 2
The current value of x is : 3
The current value of x is : 4
The current value of x is : 5
x is not less than 6

# pass statement

In [33]:
x=[1,2,3,4]
for i in x:
    #comment

SyntaxError: unexpected EOF while parsing (<ipython-input-33-f3794e6d878f>, line 3)

In [34]:
x=[1,2,3,4]
for i in x:
    pass #avoids throwing error if there is no code in a loop

# continue

In [35]:
x='Shubham'
for i in x:
    print(i)

S
h
u
b
h
a
m

In [37]:
x='Shubham'
for i in x:
    if i=='b' or i=='a':
        continue
    print(i)

S
h
u
h
m

# break

In [6]:
x='Shubham'
for i in x:
    if i=='b':
        break
    print(i)

S
h
u

In [4]:
x=0

while x<10:
    if x==5:
        break
    print(x)
    x += 1

0
1
2
3
4

# Useful Operator in Python

# range

In [3]:
for num in range(10): #range(start,stop,step-size)
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range(5,10):
    print(num)

5
6
7
8
9

In [6]:
for num in range(5,10,2):
    print(num)

5
7
9

# enumerate

In [9]:
word='shubham'
for items in enumerate(word):   #enumerate operator takes any irrerative object and returns the index-counter and element of the object 
    print(items)

(0, 's')
(1, 'h')
(2, 'u')
(3, 'b')
(4, 'h')
(5, 'a')
(6, 'm')

In [8]:
word='shubham'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
s


1
h


2
u


3
b


4
h


5
a


6
m

# zip

In [10]:
mylist1=[1,2,3]
mylist2=['a','b','c']
mylist3=[100,200,300]

for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [11]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]


# in keyword operator

In [12]:
'a' in 'a world'

True

In [13]:
1 in [1,2,3,4]

True

In [14]:
'f' in 'a world'

False

In [15]:
'k1' in {'k1':32}

True

In [16]:
d={'k1':32}

24 in d.items()

False

# Random libraries in Python

syntax:

In [18]:
# from random import [TAB Button]

shuffle function

In [20]:
from random import shuffle #shuffles any list

In [21]:
mylist=[1,2,3,4,5,6,7,8,9]

In [26]:
shuffle(mylist) #its an in place operator, hence doesn't return anything, rather changes the object(mylist)

In [23]:
mylist

[2, 7, 6, 3, 4, 9, 5, 1, 8]

randint function

In [24]:
from random import randint

In [25]:
randint(0,1000) #generates random number in between the range

134

# input function

In [27]:
#used to take input from the users

In [28]:
input('Enter a number: ')

Enter a number: 20

'20'

In [30]:
result = input('Enter a number: ')

Enter a number: 20

In [31]:
type(result) #bydefault it returns a string value

str

In [32]:
int(result)

20

In [33]:
float(result)

20.0

OR

In [36]:
result = int(input('Enter a number:' )) # only takes an integer type number as input

Enter a number:Shubham

ValueError: invalid literal for int() with base 10: 'Shubham'

In [37]:
result = int(input('Enter a number:' ))

Enter a number:20

# List Comprehension

In [2]:
mylist=[]

for i in 'Shubham':
    mylist.append(i)

In [3]:
mylist

['S', 'h', 'u', 'b', 'h', 'a', 'm']

**The above can be done using List Comprehension method with ease

In [6]:
mylist1=[i for i in 'Shubham']

In [7]:
mylist1

['S', 'h', 'u', 'b', 'h', 'a', 'm']

In [8]:
mylist=[]
number=[1,2,3,4,5,6,7,8,9]

for i in number:
    mylist.append(i**2)

In [9]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

The above can be done using List Comprehension method with ease

In [16]:
mylist=[i**2 for i in range(1,12)]

In [17]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [18]:
mylist1=[i for i in range(0,11) if i%2==0]

In [20]:
mylist1

[0, 2, 4, 6, 8, 10]

In [21]:
mylist1=[i**3 for i in range(0,11) if i%2==0]

In [22]:
mylist1

[0, 8, 64, 216, 512, 1000]

# To convert celcius into Fehrenhite using List Comphrension

Using For loop

In [25]:
fehrenhite=[]
celcius=[34,45,49,24,29]

for temp in celcius:
    fehrenhite.append(9/5 * temp + 32)

In [26]:
fehrenhite

[93.2, 113.0, 120.2, 75.2, 84.2]

Now using List Comprehension:

In [31]:
celcius=[34,45,49,24,29]

fehrenhite=[(9/5 * temp + 32) for temp in celcius if temp > 30]

In [32]:
fehrenhite.sort

[93.2, 113.0, 120.2]

# Nested for using List Comprehension

Using for loop

In [27]:
mylist=[]

for i in [1,2,3]:
    for j in [1,10,100]:
        mylist.append(i*j)

In [28]:
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]

Using List comprenhension

In [29]:
mylist=[i*j for i in [1,2,3] for j in[1,10,100]]

In [30]:
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]