In [1]:
t=('a','b','c') #Example of Tuples

In [3]:
t.count('a')

1

In [4]:
mylist=[1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [5]:
set(mylist) #Example of Sets

{1, 2, 3}

In [6]:
set('mississippi') #Sets returns unique objects

{'i', 'm', 'p', 's'}

In [7]:
1>2 #Boolean

False

In [8]:
1==1

True

In [10]:
type(1==1)

bool

In [10]:
x = 'Hello world'

In [12]:
x.upper()

'HELLO WORLD'

In [13]:
x.split()

['Hello', 'world']

In [14]:
name = 'Shubham'

In [15]:
print(f'My name is {name}')

My name is Shubham

In [20]:
mylist = [1,3,5,6,7,9,0,3]

In [21]:
mylist.count(3)

2

In [26]:
mylist1= ['hi']

In [27]:
mylist.extend(mylist)

In [28]:
print(mylist)

[1, 3, 5, 6, 7, 9, 0, 3, 1, 3, 5, 6, 7, 9, 0, 3]

In [29]:
mylist.sort()

In [30]:
mylist

[0, 0, 1, 1, 3, 3, 3, 3, 5, 5, 6, 6, 7, 7, 9, 9]

In [31]:
mylist.reverse()

In [32]:
mylist

[9, 9, 7, 7, 6, 6, 5, 5, 3, 3, 3, 3, 1, 1, 0, 0]